name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "版本号"
        required: true
        default: "0.0.0.0"
      enableX64:
        description: "启用x64"
        required: true
        default: true
        type: boolean
      enableX86:
        description: "启用x86"
        required: true
        default: false
        type: boolean
      enableArm64:
        description: "启用Arm64"
        required: true
        default: true
        type: boolean
      enableArm32:
        description: "启用Arm32"
        required: true
        default: false
        type: boolean

permissions:
  contents: write

jobs:
  release:
    runs-on: windows-2022

    env:
      SigningCertificate: BiliLite.UWP_TemporaryKey.pfx
      SigningCertificatePasswd: ${{ secrets.SIGNING_CERTIFICATE_PASSWD }}
      Solution_Path: .\BiliLite.sln
      AppName: BiliLite.UWP
      UWP_Project_Directory: src\BiliLite.UWP
      UWP_Project_Path: src\BiliLite.UWP\BiliLite.UWP.csproj
      UWP_X64_Native_Project_Path: src\BiliLite.UWP\BiliLite.UWP.csproj.native
      Win32_Project_Path: src\BiliLite.Win32Tools\BiliLite.Win32Tools.csproj
      Webdav_addr: ${{ secrets.WEBDAV_ADDR }}
      Webdav_auth: ${{ secrets.WEBDAV_AUTH }}
      nuget_package_addr: ${{ secrets.NUGET_PACKAGE_ADDR }}
      nuget_package: biliuwp-lite-nuget-packages.zip

    steps:
      - name: Configure Pagefile
        uses: al-cheb/configure-pagefile-action@v1.2
        with:
          minimum-size: 64GB
          maximum-size: 64GB
          disk-root: "C:"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: EchoInput
        run: |
          echo 启用x64编译 ${{ github.event.inputs.enableX64 }}
          echo 启用x86编译 ${{ github.event.inputs.enableX86 }}
          echo 启用Arm64编译 ${{ github.event.inputs.enableArm64 }}
          echo 启用Arm编译 ${{ github.event.inputs.enableArm32 }}

      - name: Download and process necessary files
        run: |
          curl --location $env:Webdav_addr --header "$env:Webdav_auth" -o "$env:UWP_Project_Directory/$env:SigningCertificate" --insecure
          curl --location $env:nuget_package_addr --header "$env:Webdav_auth" -o "$env:nuget_package" --insecure
          Expand-Archive -path $env:nuget_package -DestinationPath ./
          cp -r ./packages ./src/

      - uses: release-drafter/release-drafter@v5
        name: Create release draft
        id: release-drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up .NET
        uses: xt0rted/setup-dotnet@v1.0.0
        with:
          dotnet-version: |
            8.0.416
            9.0.306

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.0.3

      - uses: GuillaumeFalourd/setup-windows10-sdk-action@v2.4
        with:
          sdk-version: 19041

      - name: Update manifest version
        run: |
          [xml]$manifest = get-content ".\$env:UWP_Project_Directory\Package.appxmanifest"
          $manifest.Package.Identity.Version = "${{github.event.inputs.version}}"
          $manifest.save(".\$env:UWP_Project_Directory\Package.appxmanifest")

      - name: Create Package Directory
        run: New-Item -ItemType Directory -Path C:\Package

      - name: document processing
        run: |
          git clone https://github.com/ywmoyue/OnlinePageToPDF-Node.git
          cd OnlinePageToPDF-Node
          npm install
          node index.js --waitTime=35000 --pageUrl="http://markdown.muyan233.top:352/?fileUrl=https%3A%2F%2Fraw.githubusercontent.com%2Fywmoyue%2Fbiliuwp-lite%2Fdev%2Fdocument%2Finstall-readme.md" --pdfFilePath="安装教程.pdf"
          cd ..
          cp ./OnlinePageToPDF-Node/安装教程.pdf C:\Package\安装教程.pdf

      - name: Check if x64 asset exists
        id: check-x64-asset
        run: |
          $assetName = "${{env.AppName}}_${{github.event.inputs.version}}_x64.zip"
          $releaseAssets = gh api repos/${{ github.repository }}/releases/${{ steps.release-drafter.outputs.id }}  | jq --arg name "$assetName" '.assets[] | select(.name == $name)'
          if ($releaseAssets) {
            echo "x64 asset already exists, skipping build"
            echo "SKIP_BUILD=true" >> $env:GITHUB_ENV
          } else {
            echo "x64 asset not found, proceeding with build"
            echo "SKIP_BUILD=false" >> $env:GITHUB_ENV
          }
        if: github.event.inputs.enableX64 == 'true'

      - name: Build x64
        run: |
          msbuild $env:UWP_Project_Directory /p:Platform=x64 /p:Configuration=Release /p:GenerateAppxPackageOnBuild=true /p:PackageCertificateKeyFile=$env:SigningCertificate /p:PackageCertificatePassword=$env:SigningCertificatePasswd  /restore
        env:
          BuildMode: SideloadOnly
          Configuration: Release
        if: github.event.inputs.enableX64 == 'true' && env.SKIP_BUILD == 'false'

      - name: copy x64 document
        run: cp C:\Package\安装教程.pdf ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_x64_Test\安装教程.pdf
        if: github.event.inputs.enableX64 == 'true' && env.SKIP_BUILD == 'false'

      - name: Remove x64 useless files
        run: |
          cd ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_x64_Test
          rm -r -fo *.appxsym
          cd Dependencies
          rm -r -fo arm64,x86
        if: github.event.inputs.enableX64 == 'true' && env.SKIP_BUILD == 'false'

      - name: Create x64 archive
        run: Compress-Archive -Path ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_x64_Test -DestinationPath C:\Package\${{env.AppName}}_${{github.event.inputs.version}}_x64.zip
        if: github.event.inputs.enableX64 == 'true' && env.SKIP_BUILD == 'false'

      - name: Update x64 release asset
        id: upload-release-asset-x64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event.inputs.enableX64 == 'true' && env.SKIP_BUILD == 'false'
        with:
          upload_url: ${{ steps.release-drafter.outputs.upload_url }}
          asset_path: C:\Package\${{env.AppName}}_${{github.event.inputs.version}}_x64.zip
          asset_name: ${{env.AppName}}_${{github.event.inputs.version}}_x64.zip
          asset_content_type: application/zip

      - name: Check if x86 asset exists
        id: check-x86-asset
        run: |
          $assetName = "${{env.AppName}}_${{github.event.inputs.version}}_x86.zip"
          $releaseAssets = gh api repos/${{ github.repository }}/releases/${{ steps.release-drafter.outputs.id }}  | jq --arg name "$assetName" '.assets[] | select(.name == $name)'
          if ($releaseAssets) {
            echo "x86 asset already exists, skipping build"
            echo "SKIP_BUILD_X86=true" >> $env:GITHUB_ENV
          } else {
            echo "x86 asset not found, proceeding with build"
            echo "SKIP_BUILD_X86=false" >> $env:GITHUB_ENV
          }
        if: github.event.inputs.enableX86 == 'true'

      - name: Build x86
        run: msbuild $env:UWP_Project_Directory /p:Platform=x86 /p:Configuration=Release /p:GenerateAppxPackageOnBuild=true /p:PackageCertificateKeyFile=$env:SigningCertificate /p:PackageCertificatePassword=$env:SigningCertificatePasswd  /restore
        if: github.event.inputs.enableX86 == 'true' && env.SKIP_BUILD_X86 == 'false'
        env:
          BuildMode: SideloadOnly
          Configuration: Release

      - name: copy x86 document
        run: cp C:\Package\安装教程.pdf ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_x86_Test\安装教程.pdf
        if: github.event.inputs.enableX86 == 'true' && env.SKIP_BUILD_X86 == 'false'

      - name: Remove x86 useless files
        run: |
          cd ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_x86_Test
          rm -r -fo *.appxsym
          cd Dependencies
          rm -r -fo arm64,x64
        if: github.event.inputs.enableX86 == 'true' && env.SKIP_BUILD_X86 == 'false'

      - name: Create x86 archive
        run: Compress-Archive -Path ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_x86_Test -DestinationPath C:\Package\${{env.AppName}}_${{github.event.inputs.version}}_x86.zip
        if: github.event.inputs.enableX86 == 'true' && env.SKIP_BUILD_X86 == 'false'

      - name: Update x86 release asset
        id: upload-release-asset-x86
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event.inputs.enableX86 == 'true' && env.SKIP_BUILD_X86 == 'false'
        with:
          upload_url: ${{ steps.release-drafter.outputs.upload_url }}
          asset_path: C:\Package\${{env.AppName}}_${{github.event.inputs.version}}_x86.zip
          asset_name: ${{env.AppName}}_${{github.event.inputs.version}}_x86.zip
          asset_content_type: application/zip

      - name: Check if ARM64 asset exists
        id: check-arm64-asset
        run: |
          $assetName = "${{env.AppName}}_${{github.event.inputs.version}}_ARM64.zip"
          $releaseAssets = gh api repos/${{ github.repository }}/releases/${{ steps.release-drafter.outputs.id }}  | jq --arg name "$assetName" '.assets[] | select(.name == $name)'
          if ($releaseAssets) {
            echo "ARM64 asset already exists, skipping build"
            echo "SKIP_BUILD_ARM64=true" >> $env:GITHUB_ENV
          } else {
            echo "ARM64 asset not found, proceeding with build"
            echo "SKIP_BUILD_ARM64=false" >> $env:GITHUB_ENV
          }
        if: github.event.inputs.enableArm64 == 'true'

      - name: Build ARM64
        run: msbuild $env:UWP_Project_Directory /p:Platform=ARM64 /p:Configuration=Release /p:GenerateAppxPackageOnBuild=true /p:PackageCertificateKeyFile=$env:SigningCertificate /p:PackageCertificatePassword=$env:SigningCertificatePasswd  /restore
        if: github.event.inputs.enableArm64 == 'true' && env.SKIP_BUILD_ARM64 == 'false'
        env:
          BuildMode: SideloadOnly
          Configuration: Release

      - name: copy arm64 document
        run: cp C:\Package\安装教程.pdf ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_ARM64_Test\安装教程.pdf
        if: github.event.inputs.enableArm64 == 'true' && env.SKIP_BUILD_ARM64 == 'false'

      - name: Remove arm64 useless files
        run: |
          cd ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_ARM64_Test
          rm -r -fo *.appxsym
          cd Dependencies
          rm -r -fo x64,x86
        if: github.event.inputs.enableArm64 == 'true' && env.SKIP_BUILD_ARM64 == 'false'

      - name: Create ARM64 archive
        run: Compress-Archive -Path ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_ARM64_Test -DestinationPath C:\Package\${{env.AppName}}_${{github.event.inputs.version}}_ARM64.zip
        if: github.event.inputs.enableArm64 == 'true' && env.SKIP_BUILD_ARM64 == 'false'
      - name: Update ARM64 release asset
        id: upload-release-asset-ARM64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event.inputs.enableArm64 == 'true' && env.SKIP_BUILD_ARM64 == 'false'
        with:
          upload_url: ${{ steps.release-drafter.outputs.upload_url }}
          asset_path: C:\Package\${{env.AppName}}_${{github.event.inputs.version}}_ARM64.zip
          asset_name: ${{env.AppName}}_${{github.event.inputs.version}}_ARM64.zip
          asset_content_type: application/zip

      - name: Check if ARM32 asset exists
        id: check-arm32-asset
        run: |
          $assetName = "${{env.AppName}}_${{github.event.inputs.version}}_ARM.zip"
          $releaseAssets = gh api repos/${{ github.repository }}/releases/${{ steps.release-drafter.outputs.id }}  | jq --arg name "$assetName" '.assets[] | select(.name == $name)'
          if ($releaseAssets) {
            echo "ARM32 asset already exists, skipping build"
            echo "SKIP_BUILD_ARM32=true" >> $env:GITHUB_ENV
          } else {
            echo "ARM32 asset not found, proceeding with build"
            echo "SKIP_BUILD_ARM32=false" >> $env:GITHUB_ENV
          }
        if: github.event.inputs.enableArm32 == 'true'

      - name: Build ARM32
        run: msbuild $env:UWP_Project_Directory /p:Platform=ARM /p:Configuration=Release /p:GenerateAppxPackageOnBuild=true /p:PackageCertificateKeyFile=$env:SigningCertificate /p:PackageCertificatePassword=$env:SigningCertificatePasswd  /restore
        if: github.event.inputs.enableArm32 == 'true' && env.SKIP_BUILD_ARM32 == 'false'
        env:
          BuildMode: SideloadOnly
          Configuration: Release

      - name: copy arm32 document
        run: cp C:\Package\安装教程.pdf ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_ARM_Test\安装教程.pdf
        if: github.event.inputs.enableArm32 == 'true' && env.SKIP_BUILD_ARM32 == 'false'

      - name: Remove arm32 useless files
        run: |
          cd ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_ARM_Test
          rm -r -fo *.appxsym
          cd Dependencies
          rm -r -fo arm64,x64,x86
        if: github.event.inputs.enableArm32 == 'true' && env.SKIP_BUILD_ARM32 == 'false'

      - name: Create ARM32 archive
        run: Compress-Archive -Path ${{env.UWP_Project_Directory}}\AppPackages\${{env.AppName}}_${{github.event.inputs.version}}_ARM_Test -DestinationPath C:\Package\${{env.AppName}}_${{github.event.inputs.version}}_ARM.zip
        if: github.event.inputs.enableArm32 == 'true' && env.SKIP_BUILD_ARM32 == 'false'

      - name: Update ARM32 release asset
        id: upload-release-asset-ARM32
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event.inputs.enableArm32 == 'true' && env.SKIP_BUILD_ARM32 == 'false'
        with:
          upload_url: ${{ steps.release-drafter.outputs.upload_url }}
          asset_path: C:\Package\${{env.AppName}}_${{github.event.inputs.version}}_ARM.zip
          asset_name: ${{env.AppName}}_${{github.event.inputs.version}}_ARM.zip
          asset_content_type: application/zip
